<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tgwofficial.atma.client">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppThemeCustomized">
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.IdentitasIbuActivity"
            android:label="@string/identitas_ibu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.TransportasiActivity"
            android:label="@string/transportasi"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.BankDarahActivity"
            android:label="@string/bankdarah"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.IdentitasIbuDetailActivity"
            android:label="@string/detail_ibu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.nativeform.FormAddIbuActivity"
            android:label="@string/detail_ibu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.nativeform.FormAddBankDarah"
            android:label="@string/detail_ibu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.nativeform.FormAddTransportasi"
            android:label="@string/detail_ibu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.nativeform.FormRencanaPersalinan"
            android:label="@string/detail_ibu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.TransportasiDetailActivity"
            android:label="@string/title_activity_transportasi_detail"
            android:theme="@style/AppThemeCustomized"></activity>
    </application>

</manifest>